  <%= render "shared/header-index" %>
    <div class="main-top">
      <%= video_tag("animation1.mov",muted: true,loop: true,autoplay: true,autobuffer: true, class:"video") %>
      <div class="main-catchcopy">
        <p> 海と芸術の街,<br/><br/>　　小樽に行きませんか？</p>
      </div>
    </div>

  <%= render "shared/footer-index"%>
