.header-top{
  background-color: rgba(51,51,51,0.5);
  width:100vw;
  height:20vh;
}

.header-bar{
  height: 20vh;

  display:flex;
align-items: center;
justify-content: space-between;

}

.header-logo{
  width:35vw;
  font-size: 30px;
  border:5px solid #fff;
  border-radius: 5px 50px 50px 5px;
  color: #fff;
  letter-spacing:0.1em;
  text-decoration: none;
  margin-left:2vw;
  font-family:unset;
  padding:0.5em 1em 0.5em 0.5em;
  transition:all 1s;
}

.header-logo:hover{
  border:5px double turquoise;
  color:turquoise;
}

.header-lists{
  display:flex;
  margin-right:4vw;
}

.header-menu{
  color:#fff;
  font-size:17px;
  text-decoration: none;
  margin-right:3vw;
  font-family:serif;
  transition:all 1s;

}
.header-menu:hover{
  border-bottom:2px solid turquoise;
  color:turquoise;
}