.header-top{
  background-color: rgba(51,51,51,0.7);
  width:100vw;
  height:20vh;
}

.header-bar{
  height: 20vh;

  display:flex;
align-items: center;
}

.header-logo{
  width:35vw;
  font-size: 30px;
  border:5px solid #fff;
  border-radius: 5px 50px 50px 5px;
  color: #fff;
  letter-spacing:0.1em;
  text-decoration: none;
  margin-left:3vw;
  font-family: serif;
  padding:0.5em 1em 0.5em 0.5em;
  overflow: scroll;
}


