<div class="header-top">
  <div class="header-bar">
<i class="fas fa-plane-departure fa-4x"></i>

  <%= link_to "Otarue",root_path,class: "header-logo fas fa-plane-departure fa-4x" %>
  </div>

<div class="main-bar">
test
</div>

</div>