// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-main{
  width:100vw;
}
.order-menu{
  width:100%;
  height:500px;
  margin-top:3vh;
  color:#28292b;
  ul{
    height:100%;
    display:flex;
    justify-content: space-around;
    li{
      width:25%;
      border:2px solid #28292b;
      img{
        width:100%;
        height:50%;
        object-fit: cover;
        border-bottom:2px solid #28292b;
      }
      .order-info{
        height:19%;
        font-weight: bold;
        font-size:17px;
        border-bottom:2px solid #28292b;
        text-align:center;
      }
      .order-price{
        display:flex;
        align-items: center;
        justify-content: center;
        height:10%;
        font-weight: bold;
        font-size:22px;
        border-bottom:2px solid #28292b;
      }
      .order-link{
        display:flex;
        align-items: center;
        justify-content: center;
        height:20%;
        background-color:white;
        color:#28292b;
        transition:1s;
      }
      .order-link:hover{
        background-color:#28292b;
        color:white;
      }
    }
  }
}

.order-headline{
  color:#28292b;
  width:40%;
  margin:0 auto;
  text-align: center;
  padding-bottom:1vh;
  border-bottom:1px solid #28292b;
  .map-info{
    font-size:23px;
    padding-top:2vh;
  }
  .map-info-small{
    padding-top:2vh;
    line-height:2em;
    letter-spacing: 0.2em;;
  }
}

.order-form{
  width:100%;
  height:1000px;
  text-align:center;
  color:#28292b;
  margin-top:5vh;
  .form-main{
    margin:0 auto;
    width:70%;
    height:100%;
    display: block;
    background-color: white;
    .form-group{
      margin:2vh auto;
      width:80%;
      h1{
        width:50%;
        margin:0 auto;
        text-align: center;
        font-weight:bold;
        font-size:22px;
        border-bottom:2px solid #28292b;
      }
      .form-wrap{
        margin:2vh auto 0;
        font-weight:bold;
        width:50%;
        height:30px;
        display:flex;
        justify-content: center;
        align-items:center;
        .form-sup{
          color:red;
        }
      }
      .small{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .form-small{
        width:10%;
        height:27px;
      }
      .form{
        height:30px;
        display: block;
        margin:0 auto;
        text-align:center;
      }
      .card{
        width:40%;
        height:30px;
      }
      .cvc{
        width:10%;
      }
      .address{
        margin-top:6vh;
      }
    }
    .form-submit{
      height:60px;
      width:100%;
      margin-top: 3vh;
      display: flex;
      justify-self: center;
      align-items: center;
    .btn{
        width:30%;
        height:40px;
        margin:0 auto;
      }
    }
  }
}